.footer {
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #232F3E;
    min-width: 1000px;
    position: relative;
    margin: 30px 0 px 0;
    padding: 0 0 10px 0;
}

.footer_container {
    display: flex;
}


.footer_row {
    margin-top: 20px;
    margin-left: 120px;
    padding: 0 10px;
    line-height: 120%;
    color: #333;
    vertical-align: top;
}

.footer_rowHeader {
    font-weight: 700;
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    margin: 6px 0 14px 0;
    white-space: nowrap;
}

ul {
    padding: 0;
    margin-top: -5px;
}

li {
    margin: 0 0 10px;
    list-style-type: none;
    display: list-item;
    color: #FFF;
    font-family: inherit;
    font-size: 12px;
    white-space: nowrap;
}

.credit {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-family: inherit;
    font-size: 15px;
}

.credit > a {
    color: white;
}